<h1>Flights</h1>

<%= form_with scope: :filter, url: root_path, method: :get do |form| %>
  <%= form.collection_select :departure_airport_id, Airport.all, ->(airport){ airport.id }, ->(airport){ airport.code }, 
                             include_blank: "Departure Airport", 
                             selected: @filters[:departure_airport] %>
  <%= form.collection_select :arrival_airport_id, Airport.all, ->(airport){ airport.id }, ->(airport){ airport.code }, 
                             include_blank: "Arrival Airport",
                             selected: @filters[:arrival_airport] %>
  <!-- not a filter -->                          
  <%= form.select :number_of_passengers, [*1..4], prompt: "Number of Passengers",
                  selected: @filters[:number_of_passengers] %>
  <%= select_year Date.today, options = {start_year: Date.today.years_ago(1).year, end_year: 5.months.from_now.year, prefix: 'filter[start]'}, 
                  selected: @filters[:year] %>
  <%= select_month 0, prompt: 'Choose Month', prefix: 'filter[start]',
                   selected: @filters[:month] %>
  <%= select_day 0, prompt: 'Choose Day', prefix: 'filter[start]',
                 selected: @filters[:day] %>
  <%= form.submit "Search" %>
  <%= link_to "Clear Form", root_path %>
<% end %>

<% if @flights.empty? %>
  <br>
  <i><small> No flights available </small></i>
<% else %>
  <%= form_with scope: :flights, url: new_booking_path, method: :get do |f| %>
    <% @flights.each do |flight| %>
      <% 
        route = flight.route.transform_values { |v| v.code } 
        id = flight.id 
        start = flight.start.strftime("%e %B, %Y;  %l:%M %p")
      %>
      <%= f.radio_button :flight, id %>
      <%= f.label "flight_#{id}", "#{route[:departure]}-#{route[:arrival]} #{start}" %> <br>
    <% end %>
    <%= f.hidden_field :number_of_passengers, value: @number_of_passengers %>
    <%= f.submit "Book Flight"%>
  <% end %>
<% end %>